#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #E5E5E5;
}

.offset {
  margin-left: 200px;
}
@media (max-width: 900px) {
  .offset {
    margin-left: 0px;
  }
}

.title {
  text-align: left;
  font-size: 28px;
  padding: 20px;
}

.subtitle {
  text-align: left;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
}

.card {
  margin: 0 10px;
}

.d-none {
  display: none;
}
